# Django settings
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# GCP settings
GCP_PROJECT_ID=data-curriculum-478510
GOOGLE_APPLICATION_CREDENTIALS=../gcp-credentials.json
BQ_DATASET_GOLD=nyc_taxi_gold
